html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
margin: 0;
padding: 0;
}

ul, ol {
margin: 0;
padding: 0;
}

a {
color: inherit;
text-decoration: none;
}

img {
  max-width: 100%;
}

/*fonts*/

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Medium'),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-SemiBold'),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Bold'),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-ExtraBold'),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/*root*/
:root {
  --text-color: #252B42;
  --second-text-color: #737373;
  --light-text-color: #FFFFFF;
  --primary-color: #FF7B47;
  --button-hover: #FD9870;
  --secondary-color: #0D5C63;
  --light-background-color: #FAFAFA;
  --dark-background-color: #252B42;
  --letter-spacing: 0.2px;
}

/*globe*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: var(--light-background-color);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  font-family: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 197px;
}

.section__header {
  margin: 0 auto;
  max-width: 511px;
  text-align: center;
}

.title {
  font-size: 57px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: var(--letter-spacing);
  color: var(--second-text-color);
}

.none {
  display: none;
}

/*header*/

.header {
  background-image: url(../img/hero/cover.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  position: relative;
  padding-top: 36px;
  padding-bottom: 191px;
}

.header__nav {
  margin-bottom: 103px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 132px;
}

.header__list {
  gap: 21px;
}

.header__link {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--second-text-color);

}

.header__link::after{
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: var(--primary-color);
}

.header__link:hover::after{
  width: 100%;
  transition: width 0.2s ease-in-out;
}

.header__info {
  max-width: 509px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.header__title {
  font-size: 59px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.header__subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: var(--letter-spacing);
  color: var(--second-text-color);
}

.header__button-wrapper {
  gap: 10px;
}

.header__button {
  width: 154px;
  height: 48px;
  font-size: 14px;
  border: 1px solid var(--secondary-color);
  border-radius: 37px;
  transition: transform 0.3s ease;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header__button:hover {
  color: var(--light-text-color);
  background-color: var(--primary-color);
  border: none;
  transform: scale(1.02);
}

.header__button-2 {
  color: var(--secondary-color);
  outline: 1px solid var(--secondary-color);
}


/*features*/

.features {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);

}

.features__container {
  gap: 30px;
  max-width: 1046px;
}

.features__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px 50px 35px 40px;
  background-color: var(--light-text-color);
  width: calc((100% - 30px)/3);
  transition: background-color 0.2s ease-in-out;
}

.features__card:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.2s ease-in-out;
}


.features__card-icon {
  width: 48px;
  height: 48px;
}

.features__card-icon svg path {
  transition: fill 0.2s ease-in-out;
}

.features__card:hover .features__card-icon svg path {
  fill: var(--light-text-color);
  transition: fill 0.2s ease-in-out;
}

.features__card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  transition: color 0.2s ease-in-out;
}


.features__card:hover .features__card-title {
  color: var(--light-text-color);
  transition: color 0.2s ease-in-out;
}

.features__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: var(--letter-spacing);
  transition: color 0.2s ease-in-out;
}

.features__card:hover .features__subtitle {
  color: var(--light-text-color);
  transition: color 0.2s ease-in-out;
}

/*advantages*/

.advantages__container {
  padding-top: 211px;
  padding-bottom: 80px;
}

.advantages__title {
  margin-bottom: 80px;
  text-align: center;
}

.advantages__cards {
  gap: 30px;
}

.advantages__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 30px 30.5px;
  width: calc((100% - 30px)/4);
  background-color: #fff;
}

.advantages__card-icon {
  width: 48px;
  height: 48px;
}

.advantages__figure {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
}

.features__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--second-text-color);
}

/*advice*/


.advice__container {
  padding-top: 125px;
  padding-bottom: 80px ;
}

.advice__header {
  padding-bottom: 45px;
}


.advice__cards {
  gap: 30px;

}
.advice__card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px)/4);
  background-color: #fff;
}

.advice__card-text {
  padding: 30px 23px 30px 30px;
}

.advice__card-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  max-width: 140px;
}

.advice__card-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: var(--letter-spacing);
  color: var(--second-text-color);
}

.advice__card-image {
  margin-top: auto;
}

.advice__card-img {
  width: 100%;
}

/*about*/

.about {
  background-color: #fff;
}

.about__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__header {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 15px;
}

.about__content {
  display: flex;
  align-items: center;
}

.about__content-video {
  margin-right: auto;
}

.about__img {
  width: 100%;
}

.about__content-text {
  display: flex;
  flex-direction: column;
  max-width: 333px;
}

.about__content-title {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
}

.about__content-subtitle {
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: var(--letter-spacing);
  color: var(--second-text-color);
}
.about__content-list {
  gap: 30px;
}

.about__content-item {
  display: block;
  padding-left: 52px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about__content-item-1 {
  background-image:url(../img/about/settings-icon-1.png);
}

.about__content-item-2 {
  background-image:url(../img/about/settings-icon-2.png);
}

.about__content-item__title {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
}
.about__content-item__subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--second-text-color);
}


/*clients*/

.clients {
  position: relative;
  padding-top: 50px;

  background-color: var(--light-background-color);
}

.clients__bg {
  width: 100%;
  height: 77px;
  background-color: var(--dark-background-color);
  z-index: -1;
}

.clients__list {
  margin-bottom: 137px;
  align-items: center;
  gap: 30px;
}

.clients__item {
  text-align: center;
  width:calc((100% - 30px)/6);
}

.clients__form {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 30px 40px 30px 50px;
  background-color: #17213C;
}

.lable {
 display: inline-block;
 margin-right: 180px;
 max-width: 266px;
 font-size: 24px;
 font-weight: 700;
 line-height: 32px;
 color: var(--light-text-color);
}

.clients__input {
  border:none ;
  padding-right: 20px;
  height: 58px;
  width: 333px;
  border-radius: 5px 0 0 5px;
}

.clients__input::placeholder {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
}

.clients__button {
  padding: 0 22.5px;
  height: 58px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: var(--letter-spacing);
  background-color: var(--primary-color);
  color: var(--light-text-color);
  border: 1px solid var(--light-text-color);
  border-radius: 0 5px 5px 0;
  transition: background-color 0.2s ease-in-out;
}

.clients__button:hover {
  background-color: var(--button-hover);
  transition: background-color 0.2s ease-in-out;
}

/*contacts*/

.contacts {
  padding-top: 80px;
}

.section__header  {
  margin-bottom: 80px;
}

.contacts__title {
  margin-bottom: 10px;
}

.contact__cards {
  align-items: center;
  width: 985px;
  height: 393px;
  margin-bottom: 80px;
  /* gap: 5px; */
}



.contact__card {
  margin: 0 2px;
  width: 33%;
  height: 333px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  /* width: calc((100% - 5px)/3); */
  background-color: #fff;
  transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out, transform 0.2s ease-in-out;
}


.contact__card:hover {
  /* margin: 0;
  width: 329px; */
  height: 393px;
  transform: scale(1.02);
  background-color: #252B42;
  transition: background-color 0.2s ease-in-out, height 0.2s ease-in-out,transform 0.2s ease-in-out;
  z-index: 1;
}

.contacts__card-icon svg path {
  transition: fill 0.2s ease-in-out;
}

.contact__card:hover .contacts__card-icon svg path {
  fill: var(--light-text-color);
  transition: fill 0.2s ease-in-out;
}

.contacts__card-mail {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.contact__card:hover .contacts__card-mail {
  color: var(--light-text-color);
  transition: color 0.2s ease-in-out;
}

.contacts__card-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
  transition: color 0.2s ease-in-out;
}

.contact__card:hover .contacts__card-title {
  color: var(--light-text-color);
  transition: color 0.2s ease-in-out;
}

.contacts__card-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.contact__card:hover .contacts__card-button {
  color: var(--light-text-color);
  border: 1px solid var(--light-text-color);
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}


.consulting {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}
.consulting__text {
  margin-right: auto;
}

.consulting__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: var(--letter-spacing);
  color: var(--text-color);
}

.consulting__subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: var(--letter-spacing);
  color: var(--second-text-color);
}

.consulting__button {
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: var(--letter-spacing);
  color: var(--light-text-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.consulting__button:hover {
  background-color: var(--button-hover);
  transition: background-color 0.2s ease-in-out;
}

/*footer*/

.footer__upper-part {
  background-color: var(--dark-background-color);
}

.footer__nav {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 91px;
 justify-content: space-between;
}


.list__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--light-text-color);
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.footer__nav-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--light-text-color);
  transition: color 0.2s ease-in-out;
}

.footer__nav-link:hover {
  color: var(--primary-color);
  transition: color 0.2s ease-in-out;
}

.footer__contact{
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}


.rights {
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
}

.rights-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  color: var(--second-text-color);
}

.socials__list {
  align-items: center;
  gap: 20px;
}



